<!DOCTYPE html>
<html lang="esp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deportes extremos</title>
</head>
<body>
    <h1>Deportes extremos</h1>
    <p>Los deportes extremos son todas aquellas actividades de ocio o profesionales con un componente deportivo que comparten una real o aparente peligrosidad por las condiciones difíciles o arriesgadas en las que se practican. También son conocidos como deportes de riesgo controlado o deportes de aventura.</p>
    <a href="https://es.wikipedia.org/wiki/Deporte_extremo">Dar click para más información</a>
    <p>Puede encontrar algunos deportes extremos a continuación: </p>
</body>
</html>