<!DOCTYPE html>
<html lang="esp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deportes extremos</title>
</head>

<body>
    <h1>Deportes extremos</h1>
    <p>Los deportes extremos son todas aquellas actividades de ocio o profesionales con un componente deportivo que
        comparten una real o aparente peligrosidad por las condiciones difíciles o arriesgadas en las que se practican.
        También son conocidos como deportes de riesgo controlado o deportes de aventura.</p>
    <a href="https://es.wikipedia.org/wiki/Deporte_extremo">Dar click para más información</a>
    <p>Puede encontrar algunos deportes extremos a continuación: </p>

    <h2>Paracaidismo</h2>
    <p>El paracaidismo es la técnica de lanzamiento de seres humanos u objetos desde cierta altura usando un paracaídas
        para amortiguar el impacto del aterrizaje.</p>
    <p>Se puede realizar desde cualquier aeronave como un avión, helicóptero, globo aerostático o desde un objeto fijo.
        Esta última es considerada la modalidad de salto BASE. En algunos casos el paracaídas es abierto inmediatamente
        al salir de la aeronave u objeto fijo y en otros casos se realiza una caída libre controlada antes de realizar
        la apertura manual o asistida dependiendo del caso.</p>
    <a href="https://es.wikipedia.org/wiki/Paracaidismo">Más información</a>

    <h2>Bungee jumping</h2>
    <p>El bungee jumping es una actividad en la cual una persona se lanza desde una altura elevada, con uno de los
        puntos de la cuerda elástica atada al torso o al tobillo, y el otro extremo sujetado al punto de partida del
        salto. Cuando la persona salta, la cuerda se extenderá para contrarrestar la inercia provocada por la
        aceleración de la gravedad en la fase de la caída, entonces el sujeto ascenderá y descenderá hasta que la
        energía inicial del salto desaparezca.</p>
    <a href="https://es.wikipedia.org/wiki/Puenting">Más información</a>

    <h2>Parkour</h2>
    <p>El parkour, es una disciplina física basada en la capacidad motriz del individuo, desarrollado a partir del
        método natural. Los practicantes son denominados traceurs/traceuses y tienen como objetivo trasladarse de un
        punto a otro del entorno de la manera más sencilla y eficiente posible, adaptándose a las exigencias del mismo
        con la sola ayuda de su cuerpo. Además, se puede considerar una forma de expresión en cuanto a la libertad, el
        contacto con todo medio externo y el dominio sobre el propio movimiento natural de cada individuo.</p>
    <P>El parkour se practica tanto individual como colectivo en cualquier entorno, no exclusivamente en espacios
        urbanos. Cada practicante decide hasta qué punto involucrarse en su entrenamiento y cómo enfocarlo. Su práctica
        implica la adaptación al entorno para superar los diferentes obstáculos presentes en un recorrido.</P>
    <a href="https://es.wikipedia.org/wiki/Parkour">Más información</a>

    <h2>Motocross</h2>
    <p>Motocrós (del francés motocross) es una forma de competición de motocicletas en todo terreno celebrada en
        circuitos cerrados. El deporte fue evolucionando desde las pruebas celebradas en el Reino Unido. El motocrós es
        un deporte físicamente exigente que tiene lugar en todo tipo de condiciones.</p>
    <a href="https://es.wikipedia.org/wiki/Motocross">Más información</a>

    <h2>Montañismo</h2>
    <p>El montañismo nace en los Alpes al final del siglo XVIII. Su objetivo es conseguir llegar a la cima de una
        determinada montaña, como un reto a la naturaleza, que en ocasiones se llega a perder la vida. Se trata de la
        disciplina, en general deportiva o recreativa, que consiste en la realización del ascenso y descenso de
        montañas. Es también el conjunto de técnicas, conocimientos y Destreza o habilidades orientadas a la realización
        de este objetivo. El montañismo no es un simple deporte, pues deriva de una antigua actividad exploratoria del
        ser humano y como tal cuenta con una historia y tradiciones muy importantes que determinan una ética bien
        definida (by fair means) que es la parte entre esta disciplina y otras formas de turismo de aventura. Además,
        quienes lo practican, lo consideran como un verdadero estilo de vida y una forma de experimentar e interpretar
        el mundo que los rodea.</p>
    <a href="https://es.wikipedia.org/wiki/Monta%C3%B1ismo">Más información</a>

    <footer id="pie">
        <h3>Elida Lapa</h3>
        <h4>Copyright 2021</h4>
    </footer>
</body>

</html>